@charset "utf-8";
    * {
        font-family: 'Jua', sans-serif;
    }

    .font-contents {
        font-size: 25px;
        width: 120px;
    }


    .mybtn {
        width: 150px;
        margin: auto;
        display: block;
        font-size: 20px;
    }

    .guestSize {
        width: 100%;
        height: 50px;
        text-align: center;
    }

    @media ( max-width: 1023px ) {
  .wrap{margin: 30px auto;}
  .wrap,.wrap.wd668.line{max-width:30vw;}
  .wrap.wd668{width:90vw;}
}