@charset "utf-8";
* {
  margin: 0;
}
:root {
  --orange--color: #ce962c;
  --red--color: #c5003d;
  --bar--color: #835863;
  --tag--color: #987c83;
  --back--color: #af1d49;
  --fight--color: #2c64ce;
}

.form__field {
  width: 96%;
  background: #fff;
  color: #a3a3a3;
  font: inherit;
  border: none;
  border-radius: 10px;
  padding: 22px 18px;
  font-family: 'Jua', sans-serif;
}

/* bar */
body {
  background-color: var(--orange--color);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-image: linear-gradient(
    180deg,
    var(--orange--color) 0%,
    var(--back--color) 99%
  );
  box-shadow: inset 2px 2px 5px 0 rgba(255, 255, 255, 0.5);
}
/* title */
.title {
  text-align: right;
  padding: 8% 0;
  position: static;
  background-image: url('back.jpg');
  width: 100%;
  background-size: cover;
}

.title > a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
  color: var(--orange--color);
}

.title > a > h1 > span {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: var(--orange--color);
  color: var(--red--color);
  margin-right: -6px;
  font-size: 2.99rem;
  vertical-align: 12px;
}

/* clock */
.clock {
  color: white;
  display: inline;
  font-size: 3rem;
  margin-left: 38%;
}
/* main */
.tab-content,
.tab-content2 {
  width: 100vw;
}

/* clock */
.flex-container {
  color: white;
  display: flex;
  font-size: 1.2rem;
  font-family: 'Jua', sans-serif;
  margin-left: 80vw;
  width: 400px;
}
.flex-container.flex-end {
  justify-content: flex-end;
}

.tabs {
  margin-left: 10%;
  font-size: 2.4rem;
  font-family: 'Jua', sans-serif;
}
.tabber {
  position: relative;
  width: 100%;
  max-width: 768px;
}
.tabber .tabs {
  display: flex;
  padding: 0px;
  margin-bottom: 1rem;
  width: 100vw;
}
.tabber .tabs li {
  list-style: none;
}
.tabber .tabs li:not(:first-child) {
  margin-left: 0.5rem;
}
.tabber .tabs li a {
  display: block;
  padding: 6px 15px;
  text-decoration: none;
  border: 3px solid var(--back--color);
  color: var(--back--color);
  border-radius: 15px;
}
.tabber .tabs li.active a {
  background-color: var(--back--color);
  color: var(--orange--color);
  border-radius: 15px;
}
.tabber .tab-panel:not(.active) {
  display: none;
}
/*bar*/
.week_title {
  font-size: 2.2rem;
  margin-bottom: 2rem;
  margin-left: 2%;
}
.main {
  margin: 0 4%;
}

.hr1 {
  height: 4px;
  background-color: var(--back--color);
  margin-bottom: 3%;
  border: none;
}

.hr2 {
  height: 4px;
  background-color: var(--back--color);
  margin-top: 3%;
  border: none;
}

.hr3 {
  height: 4px;
  background-color: var(--back--color);
  margin-bottom: 3%;
  border: none;
}

.hr4 {
  height: 4px;
  background-color: var(--back--color);
  margin-top: 3%;
  border: none;
}
.progress_title {
  font-size: 1.3rem;
}
main .examples,
main .progresses {
  display: block;
  margin-bottom: 65px;
  padding: 2.8rem 3%;
  background-color: #fff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.157);
}
main .examples:last-child,
main .progresses:last-child {
  margin-bottom: 20px;
}
main .examples h3,
main .progresses h3 {
  color: #444;
  margin: 0;
  padding: 0 0 20px 0;
}
.cssProgress {
  width: 100%;
  margin-bottom: 20px;
}
.cssProgress .progress1,
.cssProgress .progress2,
.cssProgress .progress3 {
  position: relative;
  overflow: hidden;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}
.cssProgress .cssProgress-bar {
  display: block;
  float: left;
  width: 0%;
  height: 100%;
  background: #3798d9;
  box-shadow: inset 0px -1px 2px rgba(0, 0, 0, 0.1);
  transition: width 0.8s ease-in-out;
}
.cssProgress .cssProgress-label {
  position: absolute;
  overflow: hidden;
  left: 0px;
  right: 0px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.7em;
  text-align: center;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.3);
}
.cssProgress .cssProgress-info {
  background-color: #9575cd !important;
}
.cssProgress .cssProgress-danger {
  background-color: #ef5350 !important;
}
.cssProgress .cssProgress-success {
  background-color: #66bb6a !important;
}
.cssProgress .cssProgress-warning {
  background-color: #ffb74d !important;
}
.cssProgress .cssProgress-right {
  float: right !important;
}
.cssProgress .cssProgress-label-left {
  margin-left: 10px;
  text-align: left !important;
}
.cssProgress .cssProgress-label-right {
  margin-right: 10px;
  text-align: right !important;
}
.cssProgress .cssProgress-label2 {
  display: block;
  margin: 2px 0;
  padding: 0 8px;
  font-size: 0.8em;
}
.cssProgress .cssProgress-label2.cssProgress-label2-right {
  text-align: right;
}
.cssProgress .cssProgress-label2.cssProgress-label2-center {
  text-align: center;
}
.cssProgress .cssProgress-stripes,
.cssProgress .cssProgress-active,
.cssProgress .cssProgress-active-right {
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.125) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.125) 50%,
    rgba(255, 255, 255, 0.125) 75%,
    transparent 75%,
    transparent
  );
  background-size: 35px 35px;
}
.cssProgress .cssProgress-active {
  -webkit-animation: cssProgressActive 2s linear infinite;
  animation: cssProgressActive 2s linear infinite;
}
.cssProgress .cssProgress-active-right {
  -webkit-animation: cssProgressActiveRight 2s linear infinite;
  animation: cssProgressActiveRight 2s linear infinite;
}
@-webkit-keyframes cssProgressActive {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 35px 35px;
  }
}
@keyframes cssProgressActive {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 35px 35px;
  }
}
@-webkit-keyframes cssProgressActiveRight {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -35px -35px;
  }
}
@keyframes cssProgressActiveRight {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -35px -35px;
  }
}
.progress2 {
  background-color: #b38b41;
  border-radius: 9px;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
}
.progress2 .cssProgress-bar {
  height: 18px;
  border-radius: 9px;
}
.progress2 .cssProgress-label {
  line-height: 18px;
}
/* navbar 바  */

#navbar {
  background-color: #fff;
  position: fixed;
  top: -50px;
  width: 100%;
  transition: top 0.3s;
}

/* navbar links */
#navbar a {
  float: left;
  color: #ce962c;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #987c83;
  color: #c5003d;
}
/*주/월간 이동*/
.tab-panel {
  width: 100vw;
}
.tabs2 {
  width: 85%;
  float: none;
  margin-left: 5%;
  list-style: none;
  position: relative;
  text-align: left;
  font-family: 'Jua', sans-serif;
  color: white;
}

.tabs2 li {
  float: left;
  display: block;
}
.tabs2 input[type='radio'] {
  position: absolute;
  top: 0;
  left: -9999px;
}
.tabs2 label {
  display: block;
  padding: 14px 21px;
  border-radius: 2px 2px 0 0;
  font-size: 20px;
  font-weight: normal;
  border-top: 3px var(--back--color);
  text-transform: uppercase;
  /*background: #8e44ad;*/
  cursor: pointer;
  position: relative;
  top: 4px;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.tabs2 label:hover {
  color: var(--back--color);
}
.tabs2 .tab-content,
.tabs2 .tab-content2 {
  z-index: 2;
  display: none;
  overflow: hidden;
  width: 100%;
  font-size: 17px;
  line-height: 25px;
  padding: 0 5px;
  position: absolute;
  top: 53px;
  left: 0;
  /*background: #612e76;*/
}
.tabs2 [id^='tab']:checked + label {
  top: 0;
  padding-top: 17px;
  /*background: #612e76;*/
  color: var(--back--color);
}
.tabs2 [id^='tab']:checked ~ [id^='tab-content'],
.tabs2 [id^='tab']:checked ~ [id^='tab-content2'] {
  display: block;
}

p.link {
  clear: both;
  margin: 380px 0 0 15px;
}
p.link a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  padding: 5px 10px;
  margin: 0 5px;
  /*background-color: #612e76;*/
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

/*chart*/
#chart-container {
  width: 80%;
  margin: 15px auto;
}
.place_title,
.reason_title {
  margin: 3% 2%;
  font-size: 2rem;
}
.donut_title {
  display: flex;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}
.donut_content {
  display: flex;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}
.canvas {
  justify-content: left;
  font-family: 'Jua', sans-serif;
  width: 1080px !important;
  height: 545px !important;
  display: inline !important;
  margin: 0 -180px 50px -189px;
}
