@charset "utf-8";
* {
  font-family: 'Jua', sans-serif;
}

.bd {
  padding-top: 13rem;
  background-image: url('../static/background_img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

:root {
  --orange--color: #ce962c;
  --red--color: #c5003d;
  --bar--color: #835863;
  --tag--color: #987c83;
  --back--color: #af1d49;
  --fight--color: #2c64ce;
}

.form__field {
  width: 96%;
  background: #fff;
  color: #a3a3a3;
  font: inherit;
  border: none;
  border-radius: 10px;
  padding: 22px 18px;
  font-family: 'Jua', sans-serif;
}

/* bar */
.bar {
  background-color: var(--bar--color);
  margin: 0 80px;
  height: 40px;
  padding: 10px 0;
  border-radius: 15px;
}

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-image: linear-gradient(
    180deg,
    var(--orange--color) 0%,
    var(--back--color) 99%
  );
  box-shadow: inset 2px 2px 5px 0 rgba(255, 255, 255, 0.5);
}

/* title */
.title {
  text-align: right;
  margin-top: 5%;
  margin-right: 50px;
  position: static;
}

.title > a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
  color: var(--orange--color);
}

.title > a > h1 > span {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: var(--orange--color);
  color: var(--red--color);
  margin-right: -6px;
  font-size: 2.99rem;
  vertical-align: 12px;
}
/* tab */
.tabs {
  margin-top: 61%;
  margin-left: 10%;
  font-size: 2.4rem;
  font-family: 'Jua', sans-serif;
}
.tabber {
  position: relative;
  width: 100%;
  max-width: 768px;
}
.tabber .tabs {
  display: flex;
  padding: 0px;
  margin-bottom: 1rem;
  width: 100vw;
}

.tabber .tab-panel:not(.active) {
  display: none;
}

/* tab */
.tabber {
  position: relative;
  width: 100%;
  max-width: 768px;
}
.tabber .tabs {
  display: flex;
  padding: 0px;
  margin-bottom: 1rem;
  width: 100vw;
}
.tabber .tabs li {
  list-style: none;
}
.tabber .tabs li:not(:first-child) {
  margin-left: 0.5rem;
}
.tabber .tabs li a {
  display: block;
  padding: 6px 15px;
  text-decoration: none;
  border: 3px solid var(--back--color);
  color: var(--back--color);
  border-radius: 15px;
}
.tabber .tabs li.active a {
  background-color: var(--back--color);
  color: var(--orange--color);
  border-radius: 15px;
}
.tabber .tab-panel:not(.active) {
  display: none;
}
/* 버튼이동 */
.tabs2 {
  position: relative;
  width: 12%;
  text-align: center;
  justify-content: center;
}
.tabs2 input[name='tab-control'] {
  display: none;
}
.tabs2 .moves li label {
  font-family: 'Jua', sans-serif;
  font-size: 1.5rem;
  color: white;
}
.division {
  font-family: 'Jua', sans-serif;
  font-size: 1.5rem;
  color: white;
}
.tabs2 .moves {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.tabs2 .moves li {
  box-sizing: border-box;
  flex: 1;
  width: 25%;
  padding: 0 10px;
  text-align: center;
}
.tabs2 .moves li label {
  transition: all 0.3s ease-in-out;
  color: white;
  padding: 5px auto;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tabs2 .moves li label br {
  display: none;
}
.tabs2 .moves li label:hover,
.tabs2 .moves li label:focus,
.tabs2 .moves li label:active {
  outline: 0;
  color: #bec5cf;
}
.tabs2
  input[name='tab-control']:nth-of-type(1):checked
  ~ .moves
  > li:nth-child(1)
  > label {
  cursor: default;
  color: var(--back--color);
}
@media (max-width: 600px) {
  .tabs2
    input[name='tab-control']:nth-of-type(1):checked
    ~ .moves
    > li:nth-child(1)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs2
  input[name='tab-control']:nth-of-type(1):checked
  ~ .content
  > section:nth-child(1) {
  display: block;
}
.tabs2
  input[name='tab-control']:nth-of-type(2):checked
  ~ ul
  > li:nth-child(2)
  > label {
  cursor: default;
  color: var(--back--color);
}
@media (max-width: 600px) {
  .tabs2
    input[name='tab-control']:nth-of-type(2):checked
    ~ .moves
    > li:nth-child(2)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
@media (max-width: 1000px) {
  .tabs2 .moves li label {
    white-space: initial;
  }
  .tabs2 .moves li label br {
    display: initial;
  }
}
@media (max-width: 600px) {
  .tabs2 .moves li label {
    padding: 5px;
    border-radius: 5px;
  }
  .tabs2 .moves li label span {
    display: none;
  }
}
/* progress bar */
.content-block__effect {
  margin-bottom: 50px;
}

.progress-container {
  margin-bottom: 30px;
}
.progress-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.progress-bar {
  position: relative;
  width: 550px;
  box-sizing: border-box;
}
.progress-bar:not(:last-child) {
  margin-bottom: 35px;
}

.progress-bar--lg-offset:not(:last-child) {
  margin-bottom: 52.5px;
}

.progress-bar__bar,
.progress-bar__bar-inner,
.progress-bar__value,
.progress-bar__skill {
  box-sizing: border-box;
}

.progress-bar__bar {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.progress-bar__bar--no-overflow {
  overflow: visible;
}

.progress-bar__bar-inner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: scaleX(0);
  transform-origin: left center;
}
.progress-bar__bar-inner.js-animated {
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.1, 1.14, 0.31, 1.06);
  transition-delay: 0s;
  transform: scaleX(1);
}

.progress-bar__skill,
.progress-bar__value {
  font-size: 14px;
  letter-spacing: 1px;
}

.progress-bar__value--aligned-value {
  transform: translateX(-50%);
}
.progress-bar--3 {
  height: 5px;
  background-color: #efefef;
}
.progress-bar--3:nth-child(1) .progress-bar__bar-inner,
.progress-bar--3:nth-child(1) .progress-bar__value {
  background-color: #f40076;
}
.progress-bar--3:nth-child(1) .progress-bar__bar-inner:after,
.progress-bar--3:nth-child(1) .progress-bar__value:after {
  border-top-color: #f40076;
}
.progress-bar--3:nth-child(2) .progress-bar__bar-inner,
.progress-bar--3:nth-child(2) .progress-bar__value {
  background-color: #1a936f;
}
.progress-bar--3:nth-child(2) .progress-bar__bar-inner:after,
.progress-bar--3:nth-child(2) .progress-bar__value:after {
  border-top-color: #1a936f;
}
.progress-bar--3:nth-child(3) .progress-bar__bar-inner,
.progress-bar--3:nth-child(3) .progress-bar__value {
  background-color: #2274a5;
}
.progress-bar--3:nth-child(3) .progress-bar__bar-inner:after,
.progress-bar--3:nth-child(3) .progress-bar__value:after {
  border-top-color: #2274a5;
}

.progress-bar__skill--3 {
  position: absolute;
  top: -24px;
  left: -20px;
  opacity: 0;
}
.progress-bar__skill--3.js-animated {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  left: 0;
  opacity: 1;
}

.progress-bar__value--3 {
  position: absolute;
  top: -43px;
  display: inline-block;
  padding: 3px 8px;
  font-size: 10px;
  color: #fff;
  opacity: 0;
}
.progress-bar__value--3:after {
  position: absolute;
  left: 50%;
  bottom: -10px;
  display: block;
  width: 0;
  height: 0;
  content: '';
  transform: translateX(-50%);
  border: 5px solid transparent;
  border-top: 5px solid;
}
.progress-bar__value--3.js-animated {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0.45s;
  top: -33px;
  opacity: 1;
}
/* navbar 바  */

#navbar {
  background-color: #fff;
  position: fixed;
  top: -50px;
  width: 100%;
  transition: top 0.3s;
}

/* navbar links */
#navbar a {
  float: left;
  display: #c5003d;
  color: #ce962c;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #987c83;
  color: #c5003d;
}
