@charset "utf-8";
    * {
        font-family: 'Jua', sans-serif;
    }

.bd {
            padding-top: 13rem;
            background-image: url("../static/background_img.jpg");
            background-size: cover;
            background-repeat: no-repeat;
        }


:root {
  --orange--color: #ce962c;
  --red--color: #c5003d;
  --bar--color: #835863;
  --tag--color: #987c83;
  --back--color: #af1d49;
  --fight--color: #2c64ce;
}

.form__field {
  width: 96%;
  background: #fff;
  color: #a3a3a3;
  font: inherit;
  border: none;
  border-radius: 10px;
  padding: 22px 18px;
  font-family: 'Jua', sans-serif;
}

/* bar */
.bar {
  background-color: var(--bar--color);
  margin: 0 80px;
  height: 40px;
  padding: 10px 0;
  border-radius: 15px;
}


body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-image: linear-gradient(
    180deg,
    var(--orange--color) 0%,
    var(--back--color) 99%
  );
  box-shadow: inset 2px 2px 5px 0 rgba(255, 255, 255, 0.5);
}

.tabber {
  position: relative;
  width: 100%;
  max-width: 768px;
}
.tabber .tabs {
  display: flex;
  padding: 0px;
  margin-bottom: 1rem;
  width: 100vw;
}
.tabber .tabs li {
  list-style: none;
}
.tabber .tabs li:not(:first-child) {
  margin-left: 0.5rem;
}
.tabber .tabs li a {
  display: block;
  padding: 6px 15px;
  text-decoration: none;
  border: 3px solid var(--back--color);
  color: var(--back--color);
  border-radius: 15px;
}
.tabber .tabs li.active a {
  background-color: var(--back--color);
  color: var(--orange--color);
  border-radius: 15px;
}
.tabber .tab-panel:not(.active) {
  display: none;
}

/* navbar 바  */

 #navbar {
          background-color: #fff;
          position: fixed;
          top: -50px;
          width: 100%;
          transition: top 0.3s;
        }

        /* navbar links */
        #navbar a {
          float: left;
          display: #c5003d;
          color: #ce962c;
          text-align: center;
          padding: 15px;
          text-decoration: none;
        }

        #navbar a:hover {
          background-color: #987c83;
          color: #c5003d;
        }