<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <!--css js 링크-->
        <link href="../static/home.css" rel="stylesheet"/>

        <!-- font link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Roboto+Condensed:ital,wght@1,300&family=Roboto:wght@900&display=swap" rel="stylesheet">
        <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            const userInfo = JSON.parse(localStorage.getItem("userInfo"));

            console.log(userInfo);
            if (userInfo) {
                chkAuthor(parseInt(userInfo['author']), userInfo['name']);
            } else {
                chkAuthor(0, "");
            }
        });

        function chkAuthor(num, name) {
            let tmp_html = ``;
            let head_html = ``;

            if (num === 1) {
                head_html = `
                            <label class="col-form-label font-contents">관리자 ${name}님 환영합니다!</label>
                `;
                tmp_html = `
                            <div class="form-group row">
                                <button type="button" onclick="btnAdmin()" class="btn btn-success mybtn">사용자 관리</button>
                            </div>
                `;
                $('#txtHead').append(head_html);
                $('#btnFooter').append(tmp_html);
            } else if (num === 2) {
                head_html = `
                            <label class="col-form-label font-contents">사용자 ${name}님 환영합니다!</label>
                `;
                $('#txtHead').append(head_html);
            } else if (num === 0) {
                head_html = `
                            <label class="col-form-label font-contents">방문자님 환영합니다!</label>
                `;
                $('#txtHead').append(head_html);
                $('.mybtn').text('로그인 하기');
            }
        }

        function btnAdmin() {
            window.location.href = '/admin';
        }

        function btnLogout() {
            window.location.href = '/';
        }

    </script>

</head>
         <!-- title -->
    <div class="title">
        <a href="../templates/all_diary.html"><h1>MY<span> ANGRY</span>DIARY</h1></a>
    </div>
    <!-- main -->
         <div class="tag_title">
         <p>#짜증나 #멘탈승리 #화풀이 #감정쓰레기통 #스트레스해소</p>
         </div>

        <div class="form-group row">
            <a href="/login" type="button" onclick="btnLogin()" class="btn btn-success mybtn">로그인 하기</a>
        </div>
</div>
</body>
</html>