<!DOCTYPE html>
<html lang="en" style="height: 100%">

<head>
    <meta charset="UTF-8">

    <!--css js 링크-->
    <link href="../static/manager.css" rel="stylesheet"/>
    <script async src="../static/manager.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>메이킹첼린지 | 통계</title>
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"-->
<!--    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <!-- font link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Roboto+Condensed:ital,wght@1,300&family=Roboto:wght@900&display=swap"
          rel="stylesheet">

    <!-- fontawsome link -->
    <script src="https://kit.fontawesome.com/ed0aef1019.js" crossorigin="anonymous"></script>

    <style>

        .navbar > li {
            display: inline-block;
        }

        .navbar > li > a {
            display: block;
            text-decoration: none;
            padding: 10px 20px;
            color: white;
        }

        .navbar > li > a:hover {
            background: deeppink;
        }

    </style>

    <script src="//code.jquery.com/jquery.min.js"></script>
    <script>
        var last_top = 0;
        $(window).scroll(function () {
            var this_top = $(this).scrollTop();
            if (this_top > last_top) {
                $(".navbar").addClass("hide");
            } else {
                $(".navbar").removeClass("hide");
            }
            last_top = this_top;
        });
    </script>

    <!--    progress bar-->
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    <script> zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"];</script>

    <script>
        $(document).ready(function () {
            const userInfo = JSON.parse(localStorage.getItem("userInfo"));

            console.log(userInfo);
            if (userInfo) {
                chkAuthor(parseInt(userInfo['author']), userInfo['name']);
            } else {
                chkAuthor(0, "");
            }
        });

        function chkAuthor(num, name) {
            let tmp_html = ``;
            let head_html = ``;

            if (num === 1) {
                head_html = `
                            <label class="col-form-label font-contents">관리자 ${name}님 환영합니다!</label>
                `;
                tmp_html = `
                            <div class="form-group row">
                                <a href="admin" onclick="btnAdmin()" class="btn btn-success mybtn">사용자 관리</a>
                            </div>
                `;
                $('#txtHead').append(head_html);
                $('#btnFooter').append(tmp_html);
            } else if (num === 2) {
                head_html = `
                            <label class="col-form-label font-contents">사용자 ${name}님 환영합니다!</label>
                `;
                $('#txtHead').append(head_html);
            } else if (num === 0) {
                head_html = `
                            <label class="col-form-label font-contents">방문자님 환영합니다!</label>
                `;
                $('#txtHead').append(head_html);
                $('.mybtn').text('로그인 하기');
            }
        }

        function btnAdmin() {
            window.location.href = '/admin';
        }

        function btnLogout() {
            window.location.href = '/';
        }
    </script>

</head>


<body>
<!--    &lt;!&ndash; nav-bar&ndash;&gt;-->
<!--     <div id="navbar">-->
<!--  <a href="../templates/login.html">로그아웃</a>-->
<!--  <a href="all_diary.html">모두의 일기장</a>-->
<!--  <a href="my_diary.html">나의 일기장</a>-->
<!--  <a href="progress">분노 매니저</a>-->
<!--  <a href="admin">관리자 페이지</a>-->
<!--    </div>-->
<!-- title -->
<!-- title -->
<div class="title">
    <a href="/all_diary"><h1>MY<span> ANGRY </span>DIARY</h1></a>
</div>
<!-- main -->
<div class="tabber">
    <ul class="tabs">
        <li><a class="tab-trigger" href="/all_diary">모두의 일기장</a></li>
        <li><a class="tab-trigger" href="/my_diary">나의 일기장</a></li>
        <li class="active"><a class="tab-trigger" href="#tab3">분노 매니저</a></li>
        <!-- clock -->
        <h1 id="clock" class="clock">clock</h1>
        <script>
            var Target = document.getElementById("clock");

            function clock() {
                var time = new Date();

                var month = time.getMonth();
                var date = time.getDate();
                var day = time.getDay();
                var week = ['일', '월', '화', '수', '목', '금', '토'];

                var hours = time.getHours();
                var minutes = time.getMinutes();
                var seconds = time.getSeconds();

                Target.innerText =
                    `${month + 1}월 ${date}일 ${week[day]}요일 ` +
                    `${hours < 10 ? `0${hours}` : hours}:${minutes < 10 ? `0${minutes}` : minutes}:${seconds < 10 ? `0${seconds}` : seconds}`;

            }

            clock();
            setInterval(clock, 1000); // 1초마다 실행
        </script>
    </ul>
    <div class="tab-panel active" content-id="tab3">
        <!-- 주/월 이동 -->
        <ul class="tabs2" role="tablist">
            <li>
                <input type="radio" name="tabs2" id="tab1" checked/>
                <label for="tab1"
                       role="tab"
                       aria-selected="true"
                       aria-controls="panel1"
                       tabindex="0">주간</label>
                <div id="tab-content1"
                     class="tab-content"
                     role="tabpanel"
                     aria-labelledby="description"
                     aria-hidden="false">
                    <hr class="hr1"/>
                    <p class="week_title">3월 1째주</p>
                    <div class="main">
                        <div id="progressbar" class="examples">
                            <div class="cssProgress">
                                <span class="progress_title">소노</span>
                                <div class="progress2">
                                    <div class="cssProgress-bar" data-percent="75" style="width: 75%;">
                                        <span class="cssProgress-label">75%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="cssProgress">
                                <span class="progress_title">중노</span>
                                <div class="progress2">
                                    <div class="cssProgress-bar cssProgress-info" data-percent="65" style="width: 65%;">
                                        <span class="cssProgress-label">65%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="cssProgress">
                                <span class="progress_title">대노</span>
                                <div class="progress2">
                                    <div class="cssProgress-bar cssProgress-danger" data-percent="55"
                                         style="width: 55%;">
                                        <span class="cssProgress-label">55%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="cssProgress">
                                <span class="progress_title">극대노</span>
                                <div class="progress2">
                                    <div class="cssProgress-bar cssProgress-success" data-percent="45"
                                         style="width: 45%;">
                                        <span class="cssProgress-label">45%</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        </div>
                        <hr class="hr2"/>
                        <div class="donut-container">
                            <div>
                                <div class="donut_title">
                                    <h2 class="place_title">장소</h2>
                                    <h2 class="reason_title">이유</h2>
                                </div>
                                <div class="donut_content">
                                    <canvas class="canvas" id="myChart1"></canvas>
                                    <canvas class="canvas" id="myChart2"></canvas>
                                </div>
                            </div>
                        </div>
                        <script>
                            // chart1
                            var ctx = document.getElementById("myChart1").getContext('2d');
                            var myChart1 = new Chart(ctx, {
                                type: 'doughnut',
                                data: {
                                    labels: ["집", "학교", "직장", "모임", "기타"],
                                    datasets: [{
                                        backgroundColor: [
                                            "#2ecc71",
                                            "#3498db",
                                            "#9b59b6",
                                            "#f1c40f",
                                            "#e74c3c",
                                        ],
                                        data: [12, 19, 3, 17, 28],
                                    }]
                                },
                                options: {
                                    legend: {
                                        display: true,
                                        position: 'bottom',
                                        labels:{
                                            boxWidth: 20,
                                            fontColor: '#fff',
                                            fontSize: 35,
                                            fontFamily: 'Jua'
                                        }
                                    }
                                }
                                });
                            //    chart2
                            var ctx2 = document.getElementById("myChart2").getContext('2d');
                            var myChart2 = new Chart(ctx2, {
                                type: 'doughnut',
                                data: {
                                    labels: ["말", "행동", "상황"],
                                    datasets: [{
                                        backgroundColor: [
                                            "#2ecc71",
                                            "#3498db",
                                            "#9b59b6",
                                        ],
                                        data: [12, 19, 3]
                                    }]
                                },
                                options: {
                                    legend: {
                                        display: true,
                                        position: 'bottom',
                                        labels: {
                                            boxWidth: 20,
                                            fontColor: '#fff',
                                            fontSize: 35,
                                            fontFamily: 'Jua'
                                        }
                                    },
                                }
                            });
                        </script>
                    </div>
                    <hr class="hr2"/>
                </div>
            </li>
            <li>
                <input type="radio" name="tabs2" id="tab2"/>
                <label for="tab2"
                       role="tab"
                       aria-selected="false"
                       aria-controls="panel2"
                       tabindex="0">월간</label>
                <div id="tab-content2"
                     class="tab-content2"
                     role="tabpanel"
                     aria-labelledby="specification"
                     aria-hidden="true">
                    <div id="progressbar2" class="progresses">
                        <hr class="hr3"/>
                        <div class="cssProgress">
                            <span class="month_title">10월</span>
                            <div class="progress2">
                                <div class="cssProgress-bar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="30"
                                     style="width: 30%;"></div>
                                <div class="cssProgress-bar cssProgress-danger" aria-valuemin="0" aria-valuemax="100"
                                     aria-valuenow="25" style="width: 25%;"></div>
                                <div class="cssProgress-bar cssProgress-success" aria-valuemin="0" aria-valuemax="100"
                                     aria-valuenow="20" style="width: 20%;"></div>
                                <div class="cssProgress-bar cssProgress-warning" aria-valuemin="0" aria-valuemax="100"
                                     aria-valuenow="25" style="width: 25%;"></div>
                            </div>
                        </div>
                        <div class="cssProgress">
                            <span class="month_title">11월</span>
                            <div class="progress2">
                                <div class="cssProgress-bar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="55"
                                     style="width: 55%;"></div>
                                <div class="cssProgress-bar cssProgress-danger" aria-valuemin="0" aria-valuemax="100"
                                     aria-valuenow="25" style="width: 25%;"></div>
                                <div class="cssProgress-bar cssProgress-success" aria-valuemin="0" aria-valuemax="100"
                                     aria-valuenow="20" style="width: 20%;"></div>
                                <div class="cssProgress-bar cssProgress-warning" aria-valuemin="0" aria-valuemax="100"
                                     aria-valuenow="0" style="width: 0%;"></div>
                            </div>
                        </div>
                        <div class="cssProgress">
                            <span class="month_title">12월</span>
                            <div class="progress2">
                                <div class="cssProgress-bar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="10"
                                     style="width: 10%;"></div>
                                <div class="cssProgress-bar cssProgress-danger" aria-valuemin="0" aria-valuemax="100"
                                     aria-valuenow="5" style="width: 5%;"></div>
                                <div class="cssProgress-bar cssProgress-success" aria-valuemin="0" aria-valuemax="100"
                                     aria-valuenow="40" style="width: 40%;"></div>
                                <div class="cssProgress-bar cssProgress-warning" aria-valuemin="0" aria-valuemax="100"
                                     aria-valuenow="45" style="width: 45%;"></div>
                            </div>
                        </div>
                        <div class="cssProgress">
                            <span class="month_title">1월</span>
                            <div class="progress2">
                                <div class="cssProgress-bar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"
                                     style="width: 0%;"></div>
                                <div class="cssProgress-bar cssProgress-danger" aria-valuemin="0" aria-valuemax="100"
                                     aria-valuenow="30" style="width: 30%;"></div>
                                <div class="cssProgress-bar cssProgress-success" aria-valuemin="0" aria-valuemax="100"
                                     aria-valuenow="15" style="width: 15%;"></div>
                                <div class="cssProgress-bar cssProgress-warning" aria-valuemin="0" aria-valuemax="100"
                                     aria-valuenow="55" style="width: 55%;"></div>
                            </div>
                           <hr class="hr4" />
                            <div class="donut-container">
                            <div>
                                <div class="donut_title">
                                    <h2 class="place_title">장소</h2>
                                    <h2 class="reason_title">이유</h2>
                                </div>
                                <div class="donut_content">
                                    <canvas class="canvas" id="myChart3"></canvas>
                                    <canvas class="canvas" id="myChart4"></canvas>
                                </div>
                            </div>
                        </div>
                        <script>
                            // chart1
                            var ctx3 = document.getElementById("myChart3").getContext('2d');
                            var myChart3 = new Chart(ctx3, {
                                type: 'doughnut',
                                data: {
                                    labels: ["집", "학교", "직장", "모임", "기타"],
                                    datasets: [{
                                        backgroundColor: [
                                            "#2ecc71",
                                            "#3498db",
                                            "#9b59b6",
                                            "#f1c40f",
                                            "#e74c3c",
                                        ],
                                        data: [12, 19, 3, 17, 28],
                                    }]
                                },
                                options: {
                                    legend: {
                                        display: true,
                                        position: 'bottom',
                                        labels:{
                                            boxWidth: 20,
                                            fontColor: '#fff',
                                            fontSize: 35,
                                            fontFamily: 'Jua'
                                        }
                                    }
                                }
                                });
                            //    chart2
                            var ctx4 = document.getElementById("myChart4").getContext('2d');
                            var myChart4 = new Chart(ctx4, {
                                type: 'doughnut',
                                data: {
                                    labels: ["말", "행동", "상황"],
                                    datasets: [{
                                        backgroundColor: [
                                            "#2ecc71",
                                            "#3498db",
                                            "#9b59b6",
                                        ],
                                        data: [12, 19, 3]
                                    }]
                                },
                                options: {
                                    legend: {
                                        display: true,
                                        position: 'bottom',
                                        labels: {
                                            boxWidth: 20,
                                            fontColor: '#fff',
                                            fontSize: 35,
                                            fontFamily: 'Jua'
                                        }
                                    },
                                }
                            });
                        </script>
                        </div>
                        <hr class="hr4"/>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <!-- nav-bar-->
     <div id="navbar">
  <a href="login" onclick="btnLogout()">로그아웃</a>
  <a href="admin">관리자 페이지</a>
    </div>
<script>
    // 20px 스크롤바 생성
    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("navbar").style.top = "0";
        } else {
            document.getElementById("navbar").style.top = "-50px";
        }
    }
</script>

</body>
</html>