<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>일기쓰기 | 보람상조</title>

    <!--css js 링크-->
    <link href="../static/write_diary.css" rel="stylesheet"/>
    <script async src="../static/write_diary.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"-->
<!--            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"-->
<!--            crossorigin="anonymous"></script>-->
<!--    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>-->
<!--    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>-->

    <!-- font link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Roboto+Condensed:ital,wght@1,300&family=Roboto:wght@900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="../../../Downloads/select버튼변경/write_diary.css">

</head>
<body>
<!-- 대상선택 : 타인 드롭박스 -->
<script>
    // $("input[name='tmpChkbox']").attr("checked", false);
    // function show1() {
    //     document.getElementById('other').style.display = 'none';
    // }
    //
    // function show2() {
    //     document.getElementById('other').style.display = 'block';
    // }

    // let month = "";
    // let day = "";
    // let year = "";
    // let area = "";
    // let angry = "";
    // let who = "";
    // let reason = "";
    // let textarea = "";
    //
    // //선택한 값 저장 함수
    // $(document).ready(function () {
    //     // console.log(month, day, year);
    //
    //     $('input:radio[name = area]').click(function () {
    //         const index = $(this).attr("area-index");
    //         // console.log(index);
    //         if (index === "0") area = "집";
    //         else if (index === "1") area = "학교";
    //         else if (index === "2") area = "직장";
    //         else if (index === "3") area = "모임";
    //         else if (index === "4") area = "기타";
    //         console.log(area);
    //     });
    //
    //     $('input:radio[name = angry]').click(function () {
    //         const index = $(this).attr("angry-index");
    //         //console.log(index);
    //         if (index === "0") angry = "소노";
    //         else if (index === "1") angry = "중노";
    //         else if (index === "2") angry = "대노";
    //         else if (index === "3") angry = "극대노";
    //         console.log(angry);
    //     });
    //
    //     $('input:radio[name = who]').click(function () {
    //         const index = $(this).attr("who-index");
    //         //console.log(index);
    //         if (index === "0") who = "본인";
    //         else if (index === "1") who = "타인";
    //         else if (index === "2") who = "B";
    //         else if (index === "3") who = "C";
    //         else if (index === "4") who = "D";
    //         console.log(who);
    //     });
    //
    //     $("input[name=reason]:checked").each(function (index) {
    //         if ($(this).is(":checked") === true) {
    //             console.log($(this).val());
    //         };
    //         //
    //         // $("text")
    //
    //     });
    // });


    // 클린된 값 css설정을 위한 함수(클래스, 속성추가)
      $(document).ready(function () {
        $('input:radio[name = area]')
          .each(function (index) {
            $(this).attr("area-index", index);
          })
          .click(function () {
            var index = $(this).attr("area-index");
            $(".area[area-index=" + index + "]").addClass("clicked_area");
            $(".area[area-index!=" + index + "]").removeClass("clicked_area");
          });
      });

      $(document).ready(function () {
        $('input:radio[name = angry]')
          .each(function (index) {
            $(this).attr("angry-index", index);
          })
          .click(function () {
            var index = $(this).attr("area-index");
            $(".angry[angry-index=" + index + "]").addClass("clicked_angry");
            $(".angry[angry-index!=" + index + "]").removeClass("clicked_angry");
          });
      });

      $(document).ready(function () {
        $('input:radio[name = who]')
          .each(function (index) {
            $(this).attr("who-index", index);
          })
          .click(function () {
            var index = $(this).attr("area-index");
            $(".who[who-index=" + index + "]").addClass("clicked_who");
            $(".who[who-index!=" + index + "]").removeClass("clicked_who");
          });
      });


    function postDiary() {
        let date = $('#date').val()
        let area = $('input:radio[name = area]:checked').val()
        let angry = $('input:radio[name = angry]:checked').val()
        let who = $('input:radio[name = who]:checked').val()
        let reason = $("input[name=reason]:checked").val()
        let textarea = $('#post-content').val()

        console.log(date, area, angry, who, reason, textarea);
        $.ajax({
            type: "POST",
            url: `/read_diary?date=${date}&area=${area}&angry=${angry}&who=${who}&reason=${reason}&textarea=${textarea}`,
            data: {
                date_give: date,
                area_give: area,
                angry_give: angry,
                who_give: who,
                reason_give: reason,
                textarea_give: textarea
            },
            success: function (response) {
                alert(response["작성 완료!"]);
                document.location.href = `/read_diary?date=${date}&area=${area}&angry=${angry}&who=${who}&reason=${reason}&textarea=${textarea}`;
            }, error: function () {
                alert('모든 내용을 작성해주세요!')
            }
        })
        //     if (month && day && year && area && angry && who && reason && textarea) {
        //         document.location.href = `/read_diary?month=${month}&day=${day}&year=${year}&area=${area}&angry=${angry}&who=${who}&selectBox=${who}&reason=${reason}&textarea=${textarea}`;
        //       } else{
        //         alert('모든 내용을 작성해주세요!')
        //     }
        //   }
        //   function postDiary() {
        //       let month = $('#month').val()
        //       let day = $('#day').val()
        //       let year = $('#year').val()
        //       let area = $('.area').val()
        //       let angry = $('.angry').val()
        //       let who = $('.who').val()
        //       let reason = $('.reason').val()
        //       let textarea = $('#textarea').val()
        //
        //       $.ajax({
        //           type: "post",
        //           url: `write_diary`,
        //           data: {area_give: area, angry_give: angry, who_give: who, reason_give: reason, textarea_give: textarea},
        //           success: function (response) {
        //               alert(response["msg"]);
        //               window.location.href = `/read_diary?month=${month}&day=${day}&year=${year}&area=${area}&angry=${angry}&who=${who}&selectBox=${who}&reason=${reason}&textarea=${textarea}`;
        //           }
        //       })
        //   }

        // function postDiary() {
        //     console.log(area, angry, who);
        // let comment = $('#post-content').val()
        //
        // $.ajax({
        //     type: "POST",
        //     url: "/write_diary",
        //     data: {content_give:content},
        //     success: function (response) { // 성공하면
        //         alert(response["msg"]);
        //         window.location.reload()
        //     }
        // })
        // }
    }

</script>
<!-- title -->
<div class="title">
    <a href="/all_diary"><h1>MY<span> ANGRY </span>DIARY</h1></a>
</div>
<!-- bar -->
<div class="bar">
    <div class="bar1">
        어떤 상황이었나요?
    </div>
    <div class="bar2">
        어떻게 행동했나요?
    </div>
</div>
<form>
    <!-- main -->
    <div class="main">
        <!-- buttons -->
        <div class="select">
            <!-- 날짜 -->
            <div class="date">
                <p>날 짜</p>
                <input id="date" name="date" type="date">
<!--                <div class="birthday">-->
<!--                    <input type="text" id="month" name="month" placeholder="MM" maxlength="2" pattern="\d*">-->
<!--                    <span>/</span>-->
<!--                    <input type="text" id="day" name="day" placeholder="DD" maxlength="2" pattern="\d*">-->
<!--                    <span>/</span>-->
<!--                    <input type="text" id="year" name="year" placeholder="YYYY" maxlength="4" pattern="\d*">-->
<!--                </div>-->
            </div>

            <!-- 장소 -->
            <div class="area">
                <p>장 소</p>
                <div class='radio-group'>
                    <label class='radio-label'>
                        <input class="area" name='area' type='radio' value="집" id='home'>
                        <span class='inner-label'>집</span>
                    </label>
                    <label class='radio-label'>
                        <input class="area" name='area' type='radio' value="학교" id='school'>
                        <span class='inner-label'>학교</span>
                    </label>
                    <label class='radio-label'>
                        <input class="area" name='area' type='radio' value="직장" id='company'>
                        <span class='inner-label'>직장</span>
                    </label>
                    <label class='radio-label'>
                        <input class="area" name='area' type='radio' value="모임" id='group'>
                        <span class='inner-label'>모임</span>
                    </label>
                    <label class='radio-label'>
                        <input class="area" name='area' type='radio' value="기타" id='etc'>
                        <span class='inner-label'>기타</span>
                    </label>
                </div>
            </div>
            <!-- 분노치 -->
            <div class="angry">
                <p>분 노 치</p>
                <div class='radio-group'>
                    <label class='radio-label'>
                        <input class="angry" name='angry' type='radio' value="소노" id='small_angry'>
                        <span class='inner-label'>소노</span>
                    </label>
                    <label class='radio-label'>
                        <input class="angry" name='angry' type='radio' value="중노" id='middle_angry'>
                        <span class='inner-label'>중노</span>
                    </label>
                    <label class='radio-label'>
                        <input class="angry" name='angry' type='radio' value="대노" id='large_angry'>
                        <span class='inner-label'>대노</span>
                    </label>
                    <label class='radio-label'>
                        <input class="angry" name='angry' type='radio' value="극대노" id='X_large_angry'>
                        <span class='inner-label'>극대노</span>
                    </label>
                </div>
            </div>
            <!-- 대상 -->
            <div class="who">
                <p>대 상</p>
                <div class="center">
                    <div class='radio-group'>
                        <label class='radio-label'>
                            <input class="who" name='who' type='radio' id='own' value="본인">
                            <span class='inner-label'>본인</span>
                        </label>
                        <label class='radio-label'>
                            <input class="who" name="who" type='radio' id='OthersA' value="타인A">
                            <span class='inner-label'>타인A</span>
                        </label>
                        <label class='radio-label'>
                            <input class="who" name="who" type='radio' id='OthersB' value="타인B">
                            <span class='inner-label'>타인B</span>
                        </label>
                        <label class='radio-label'>
                            <input class="who" name="who" type='radio' id='OthersC' value="타인C">
                            <span class='inner-label'>타인C</span>
                        </label>
                    </div>
                </div>
            </div>
            <!-- 이유 -->
            <div class="reason">
                <p>이 유</p>
                <div class="center">
                    <div class='radio-group'>
                        <label class='radio-label'>
                            <input class="reason" name='reason' type='checkbox' value="말" id='word'>
                            <span class='inner-label'>말</span>
                        </label>
                        <label class='radio-label'>
                            <input class="reason" name='reason' type='checkbox' value="행동" id='action'>
                            <span class='inner-label'>행동</span>
                        </label>
                        <label class='radio-label'>
                            <input class="reason" name='reason' type='checkbox' value="상황" id='situation'>
                            <span class='inner-label'>상황</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <!-- write -->
        <div class="paper">
            <textarea id="post-content" name="textarea" placeholder="내용을 입력해주세요."></textarea>
        </div>
    </div>
    <!-- button -->
    <div class="button">
        <a href="/my_diary">
            <div class="button1">
                취 소
            </div>
        </a>
        <button type="submit" class="button2" onclick="postDiary()">
            작 성 완 료
        </button>
    </div>
</form>
</body>
</html>